<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Login Page</title>
	<link rel="stylesheet" href="/css/login.css">
</head>

<body>
	<div style="font-family: 'Lato', sans-serif;" class="login-container">
		<h2 style="color : rgb(74, 74, 74)">Hệ thống quản lý cửa hàng cafe shop</h2>
		<form action="/login" method="post">
			<div class="form-field">
				<input type="text" placeholder="Username" required name="username"/>
			</div>
			<div class="form-field">
				<input type="password" placeholder="Password" required name="password"/>
			</div>
			<div style="color: rgb(255, 0, 0);" th:text="${error}"></div><br/>
			<div class="form-field">
				<button class="btn" type="submit">Log in</button>
			</div>
		</form>
	</div>
</body>

</html>
